.container {
    /* width: 80%; */
    padding-top: 1rem;
}
.col-12 {
    margin-top: 2rem;
}
div.progress {
    height: 50px;
}
div.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}
div.card {
    border: none;
    text-align: center;
}
div.heading {
    text-align: center;
}
div.heading a {
    color: black;
}
div.row h4 u, h5{
    padding: 0 .5rem 0 .5rem;
}
div#progress-img img {
    width: 50px;
    height: 50px;
    border: none;
}
footer.page-footer {
    background-color: lightslategrey;
    margin-top: 2rem;
    color: white;
}
footer.page-footer a {
    color: white;
}
div.col li {
    padding-top: .5rem;
}
div h5, ul li, div.col {
    text-align: center;
}
/* media-queries */

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}