<div class="row">
    <div class="col-12 heading">
        <h4><u>Education</u><i class="fas fa-graduation-cap"></i></h4>
        <h6>Karlstads Universitet - Web Development</h6>
        <a href="https://www.kau.se/utbildning/program-och-kurser/program/SGWEB" target="_blank">
            (More about my
            education)
        </a>
    </div>
</div>