<div class="row">
    <div class="col">
        <div class="card">
            <img src="~/static/images/profile.jpg" class="card-img-top" alt="Profile pic">
            <div class="card-body">
                <h3>Markus Johansson</h3>
                <p class="card-text">
                    This is supposed to be simple webpage acting as a small introduction to me
                    as a developer and an overview of my skills.
                </p>
            </div>
        </div>
    </div>
</div>